doctype html
html(lang="en")
  head
    title= "SSML support in Voice platforms"
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='favico.ico',rel='shortcut icon')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel="stylesheet", href="style.css")
body
  nav.navbar.navbar-inverse.navbar-fixed-top
    div.container-fluid
      div
        div.col-md-4
          a#ssml-green-logo.navbar-brand(href='./')
            img(src='logo.png')
          p.ssml-title SSML Support in Voice Platforms

        div.col-md-7
          div.row
            each header, key in headers
              div.col-md-1.platform-header(class=`ssml-${key}`)
                if (header.name)
                  div.platform-header-text
                    a(href=`${header.ssmlLink}`, target="_blank", title="Go to SSML doc", class="external")
                      != header.name.replace(/\W/g, '<br/>')

        div.col-md-1
          div#more.pull-right
            a(href='https://github.com/rmtuckerphx/ssml-green', target="_blank", title="Go to GitHub Project")
              svg.octicon.octicon-mark-github(aria-hidden="true",height="32", version="1.1", viewBox="0 0 16 16", width="32")
                path(fill-rule="evenodd", d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z")

  mixin versionGroup(name, version, description, path)
    div.spacer
    div.panel.panel-default
      div.panel-body.version-header
        span.glyphicon.glyphicon-bullhorn.version-icon
        if (path)
          a(href=`${path}`, target="_blank", title="Go to SSML doc", class="external-lg")
            | #{name}
            span.panel-description #{description}
        else
          | #{name}
          span.panel-description #{description}

    div.container-fluid
      each obj1, category in testers && testers[version] ? testers[version] : {}
        - var category2 = version+'-'+category.replace(/\W/g, '-')
        div.row
          div.col-md-12.section1.permalink
            .hash(id=category2)
            a(href='#'+category2)=category
        each obj2, subcategory in obj1
          - var subcategory2 = [category2,subcategory.replace(/\W/g, '-')].join('-')
          div.row
            div.col-md-12.section2.permalink
              .hash(id=subcategory2)
              a(href='#'+subcategory2)=subcategory
          each obj3, subsubcategory in obj2
            - var subsubcategory2 = [subcategory2,subsubcategory.replace(/\W/g, '-')].join('-')
            div.row
              div.col-md-4.check-value.permalink
                .hash(id=subsubcategory2)
                a(href='#'+subsubcategory2)=subsubcategory
                if (obj3.code)
                  span.glyphicon.glyphicon-exclamation-sign.pull-right.info-icon(aria-hidden="true", data-container="body", data-html="true", data-toggle="popover", data-trigger="click", data-placement="right", data-content=`${obj3.code}`)
              div.col-md-7
                div.row
                  each platformName in Object.keys(headers)
                    div.col-md-1
                      - var result = results(platformName, version, obj3.path)
                      div.check-value-text(class=`${result.classes}`, title=`${result.tip}`)
                        |  #{result.text}
    div.spacer

  each group, key in groups
    +versionGroup(group.name, key, group.description, group.path)

  p.last-updated Last updated: #{new Date()}
  p.last-updated Copyright (c) 2019 Mark Tucker

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.min.js")

  script.
    $(function () {
      var Anchor1 = new AnchorJS();
      Anchor1.add('.permalink');

      $('[data-toggle="popover"]').popover()
    })

  //- script.
  //-   var $articles = $("article");
  //-   $(window).scroll(function(e){
  //-     var scrollY = $(window).scrollTop();
  //-     $articles.each(function(){
  //-       var $this = $(this);
  //-       var top = $this.position().top;
  //-       $this.toggleClass('fixed', scrollY > top)
  //-     });
  //-   })